header {
  border-bottom: 1px solid #colors[white];
  background: #colors[white];
  #shadow.shadow-base;
}

// Mobile

@media (max-width: 480px) {
  nav {
    padding: 0.5rem 12px;
    &.desktop {
      > .logo {
        text-align: center;
        flex: 2;
      }

      > .category,
      > .account {
        display: none;
      }
    }

    &.mobile {
      padding: 0.5rem 12px;
      > .category {
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

// Desktop

@media (min-width: 1024px) {
  nav {
    padding: 0.5rem 40px;
    > .burger {
      display: none;
    }

    &.mobile {
      display: none;
    }

    > .logo {
      > a {
        img {
          width: 140px;
        }
      }
    }

    > .category {
      flex: 2;
    }

    > .account {
      display: flex;
    }
  }
}
